Get feedback .json
{
  "name": "Get feedback",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://us-38776.api.gong.io/v2/calls/extensive",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gongOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"fromDateTime\": \"{{ $json.fromDateTime }}\",\n \n    \"workspaceId\": \"3753824249103117679\"\n  \n  },\n  \"contentSelector\": {\n    \"content\": true,     \n    \"transcript\": true  \n  },\n  \"cursor\": null                  \n} ",
        "options": {}
      },
      "id": "d2d118b8-1f24-42fc-ad74-d3602b3838e1",
      "name": "Get Call (Extensive)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5168,
        -1424
      ],
      "credentials": {
        "gongOAuth2Api": {
          "id": "oYU0EDp6bU6n5xei",
          "name": "Gong get transcripts"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Map Extensive → one item per call with top-level callId\nconst out = [];\nconst calls = (items[0] && items[0].json && items[0].json.calls) || [];\nfor (const c of calls) {\n  const md = c.metaData || {};\n  out.push({\n    json: {\n      callId: md.id,\n      callUrl: md.url,\n      title: md.title,\n      scheduled: md.scheduled,\n      started: md.started,\n      durationSec: md.duration,\n      language: md.language,\n      meetingUrl: md.meetingUrl\n    }\n  });\n}\nreturn out;"
      },
      "id": "f82c4b4c-4097-4677-a4de-5b559b2978cc",
      "name": "Map Extensive → keyed",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -4976,
        -1424
      ]
    },
    {
      "parameters": {
        "functionCode": "// Map Transcript → one item per call with top-level callId\n// Prefer callTranscripts[], but fall back to transcripts/transcript/calls/results\nconst out = [];\nconst root = (items[0] && items[0].json) || {};\n\nconst list = root.callTranscripts\n  || root.transcripts\n  || root.transcript\n  || root.calls\n  || root.results\n  || [];\n\nfor (const entry of list) {\n  const callId = entry.callId\n    || entry.id\n    || (entry.call && entry.call.id)\n    || (entry.metaData && entry.metaData.id);\n\n  // Try common transcript segment containers\n  const segs = entry.transcript\n    || entry.segments\n    || entry.sentences\n    || entry.utterances\n    || entry.items\n    || [];\n\n  if (callId) {\n    out.push({ json: { callId, transcriptSegments: segs } });\n  }\n}\n\nreturn out;"
      },
      "id": "f78c955d-851e-46fc-a244-9fc3215ef250",
      "name": "Map Transcript → keyed",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -4976,
        -1200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us-38776.api.gong.io/v2/calls/transcript",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gongOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"fromDateTime\":\"{{ $json.fromDateTime }}\"  },\n  \"returnSimplifiedTranscript\": false,   \n  \"cursor\": null\n} ",
        "options": {}
      },
      "id": "f8ebad90-89c5-41d3-a5b4-041145b151b0",
      "name": "Get Transcript1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5168,
        -1200
      ],
      "credentials": {
        "gongOAuth2Api": {
          "id": "oYU0EDp6bU6n5xei",
          "name": "Gong get transcripts"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByKey",
        "propertyName1": "=callId",
        "propertyName2": "=callId"
      },
      "id": "c815a28f-ec92-4660-a37e-3b1d524c1bae",
      "name": "Merge by Key (callId)1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        -4736,
        -1296
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful assistant for analyzing call transcripts.\n\nTask:\nAnalyze the provided call {{ $json.quoteable }} and extract key insights.\n\nInstructions:\n1.  Identify and summarize in one sentence positive sentiment\n2.  Identify and summarize in one sentence negative sentiment\n3.  Extract and list all **actionable ideas** or next steps discussed.\n\nOutput Format:\nYour response must be a simple text ready for a slack massage\nCallid {{ $json.callId }}\nCall title {{ $json.title }}  {{ $json.callUrl }}\npositive sentiment in a list\nnegative sentiment in a list\nactionable ideas in a list\n\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -4400,
        -1296
      ],
      "id": "e8e06c4e-f159-4ddf-b435-c98823f7f9b0",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -4400,
        -1136
      ],
      "id": "b61eefc3-6af6-4323-a95b-90601687735f",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "udWhbjjbFM7QYnX9",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $now }}",
        "duration": 1,
        "options": {
          "includeInputFields": "={{$moment($json.newDate).utc().startOf('day').format('YYYY-MM-DD[T]HH:mm:ss[Z]')}}"
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -5504,
        -1296
      ],
      "id": "70d8b4a7-9eaa-40b9-9cc5-3fb0fd3616b5",
      "name": "Date & Time2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a85a70cb-e6e1-4af9-b849-a60411f2bd05",
              "name": "fromDateTime",
              "value": "={{ new Date(\n       Date.UTC(\n         new Date($json.newDate).getUTCFullYear(),\n         new Date($json.newDate).getUTCMonth(),\n         new Date($json.newDate).getUTCDate(),\n         0, 0, 0\n       )\n     ).toISOString().replace('.000','').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5344,
        -1296
      ],
      "id": "e97d9547-005c-4883-8eb6-14ba773aff55",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C098PEVAS4T",
          "mode": "list",
          "cachedResultName": "incredibuild-gong-insights"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -3936,
        -1296
      ],
      "id": "59a398d8-5146-41c2-ae84-9a67d6952909",
      "name": "Send a message2",
      "webhookId": "752325b2-c798-4aef-8131-51271df69dcf",
      "credentials": {
        "slackOAuth2Api": {
          "id": "UGdBfnrnaQs3GFgp",
          "name": "Slack account 8"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Prepare Calls for Agent (one item per call; no {calls:[...]} wrapper)\nconst MAX_CHARS_PER_CALL = 12000;\n\nfunction segToText(seg) {\n  if (!seg) return '';\n  if (typeof seg === 'string') return seg;\n  const parts = [];\n  if (Array.isArray(seg.sentences)) parts.push(seg.sentences.map(s => (s && s.text) ? String(s.text) : '').join(' '));\n  if (seg.text) parts.push(String(seg.text));\n  if (seg.utterance) parts.push(String(seg.utterance));\n  if (!parts.length) {\n    try { parts.push(JSON.stringify(seg)); } catch {}\n  }\n  return parts.join(' ').trim();\n}\n\n// If nothing came in, return [] (downstream nodes won't receive 0 items otherwise)\nif (!items || items.length === 0) {\n  return [];\n}\n\nconst calls = items.map(i => {\n  const j = i.json || {};\n  const segs = Array.isArray(j.transcriptSegments) ? j.transcriptSegments : [];\n  const flatText = segs.map(segToText).filter(Boolean).join(' ');\n  const trimmed = flatText.slice(0, MAX_CHARS_PER_CALL);\n  return {\n    callId: String(j.callId ?? ''),\n    title: j.title || '',\n    callUrl: j.callUrl || '',\n    language: j.language || '',\n    started: j.started || '',\n    durationSec: j.durationSec ?? null,\n    quoteable: trimmed,\n  };\n}).filter(c => c.callId);\n\n// 🔑 Return one item per call (AI Agent will receive all objects)\nreturn calls.map(c => ({ json: c }));\n"
      },
      "id": "d519eb6f-afe9-404d-b318-0235b0e1c9d8",
      "name": "Prepare Calls for Agent (guarded)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -4560,
        -1296
      ]
    },
    {
      "parameters": {
        "jsCode": "//--------------------------------------------------------------------\n// Input : items = [ { json: { output: \"Callid …\\nCall title … https://…\\n\\n…\" } }, … ]\n// Output: multiple items [{ json: { text } }, …] (plain Slack mrkdwn, no blocks)\n//--------------------------------------------------------------------\n\nconst MAX_MSG = 39000;      // keep a safety margin under Slack's ~40k char limit\nconst PER_CALL_LIMIT = 3500; // optional soft cap per call section\n\nfunction esc(s = '') {\n  return String(s).replace(/[&<>]/g, c => ({'&':'&amp;','<':'&lt;','>':'&gt;'}[c]));\n}\nfunction chop(s = '', n = 3500) {\n  return s.length > n ? s.slice(0, n - 1) + '…' : s;\n}\n\n// Parse one AI Agent \"output\" blob to a simple text section\nfunction renderCallSection(rawOutput) {\n  const raw = String(rawOutput || '').trim();\n  if (!raw) return '';\n\n  const lines = raw.split('\\n');\n\n  // CallID\n  const idLine = lines.find(l => /^Callid\\s+/i.test(l));\n  const callId = idLine ? idLine.replace(/^Callid\\s+/i, '').trim() : '';\n\n  // \"Call title <title> <url>\"\n  const titleLine = lines.find(l => /^Call title\\s+/i.test(l));\n  let title = '';\n  let url = '';\n  if (titleLine) {\n    const m = titleLine.match(/^Call title\\s+(.+?)\\s+(https?:\\/\\/\\S+)/i);\n    if (m) {\n      title = m[1].trim();\n      url = m[2].trim();\n    } else {\n      title = titleLine.replace(/^Call title\\s+/i, '').trim();\n    }\n  }\n\n  const startIdx = titleLine ? lines.indexOf(titleLine) + 1 : 0;\n  const body = lines.slice(startIdx).join('\\n').trim();\n\n  const titlePart = url\n    ? `*<${url}|${esc(title || 'Untitled')}>*`\n    : `*${esc(title || 'Untitled')}*`;\n\n  const idPart = callId ? `CallID: \\`${esc(callId)}\\`` : '';\n  const bodyPart = body ? chop(esc(body), PER_CALL_LIMIT) : '';\n\n  // Simple, readable section with a divider line\n  const section = [\n    titlePart,\n    idPart && bodyPart ? `${idPart}\\n${bodyPart}` : (idPart || bodyPart),\n  ].filter(Boolean).join('\\n') + '\\n──────────\\n';\n\n  return section;\n}\n\n// Build all sections\nconst sections = [];\nfor (const it of items) {\n  const out = it.json?.output ?? '';\n  const sec = renderCallSection(out);\n  if (sec) sections.push(sec);\n}\n\n// Pack into multiple messages under MAX_MSG\nconst results = [];\nlet buf = '';\n\nfor (const sec of sections) {\n  if ((buf + sec).length > MAX_MSG) {\n    // flush current message\n    if (buf.trim()) results.push({ json: { text: buf.trim() } });\n    buf = sec; // start new message\n  } else {\n    buf += sec;\n  }\n}\n// flush remainder\nif (buf.trim()) results.push({ json: { text: buf.trim() } });\n\n// Fallback if nothing parsed\nif (!results.length) {\n  results.push({ json: { text: 'No content to send.' } });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4096,
        -1296
      ],
      "id": "4281a113-b171-421d-a973-089926a0f0d7",
      "name": "Code"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -5664,
        -1296
      ],
      "id": "918a8f2f-70f5-44db-857c-b9a8d87735de",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Call (Extensive)": {
      "main": [
        [
          {
            "node": "Map Extensive → keyed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Extensive → keyed": {
      "main": [
        [
          {
            "node": "Merge by Key (callId)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Transcript → keyed": {
      "main": [
        [
          {
            "node": "Merge by Key (callId)1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Transcript1": {
      "main": [
        [
          {
            "node": "Map Transcript → keyed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge by Key (callId)1": {
      "main": [
        [
          {
            "node": "Prepare Calls for Agent (guarded)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Get Call (Extensive)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Transcript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Calls for Agent (guarded)": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date & Time2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7525ba11-0d15-4335-a0ae-e511dc8958cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b2b16eea9913243065c10eb2962b896b904c3c50697efa03010fc59b8b34428"
  },
  "id": "X8mos23u1y8uY1Y7",
  "tags": []
}